.product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
  }

.product-image {      
    width: 250px;
    border-radius: 10px;
    height: 400px;
    margin-left: 2%;
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; 
  } 
  
  .product-item-detail {
    margin-left: 128px;
    margin-right: 128px;
  }
  
  .select-input {
    width: 108px; 
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .product-name{
    font-size: 30px;
}

