<div class="confirmation">
    <div class="confirmation-items">
        <div class="confirmation-header">
            SUCCESS! <fa-icon [icon]="fasmile"></fa-icon>
        </div>
        <div>Thank you, <b>{{ fullName }}</b></div><br>
        <div>Your <b>${{ totalPrice }}</b> order is confirmed!</div><br>
        <div>Please allow 1-3 business day(s) for shipping</div><br>
        <div>
            <button type="button" class="btn btn-primary"><a routerLink="/" [ngStyle]="{ color: '#FFF' }">Return to product list</a></button>    
        </div>
    </div>
</div>
