<div class="confirmation-container">
    <div class="confirmation-items ">
        <div class="confirmation-header confirmation-item">
            SUCCESS! <fa-icon [icon]="fasmile"></fa-icon>
        </div>
        <div class="confirmation-item">Thank you, <b>{{ firstName }}</b></div>
        <div class="confirmation-item">Your <b>${{ totalPrice }}</b> order is confirmed!</div>
        <div class="confirmation-item">Please allow 1-3 business day(s) for shipping</div>
        <div class="confirmation-item">
            <button type="button" class="btn btn-primary"><a routerLink="/" [ngStyle]="{ color: '#FFF' }">Return to product list</a></button>    
        </div>
    </div>
</div>
