<form class="form" #form="ngForm"  (ngSubmit)="onSubmit()">
    <label><b>Full Name: </b></label>
    <input type='text' name='firstName' required minlength="3" placeholder="(minimum 3 characters)" [(ngModel)]="firstName" class="box">
    <label><b>Address:</b></label>
    <input type='text' name='address' required minlength="6" placeholder="(minimum 6 characters)" [(ngModel)]="address" class="box">
    <label><b>Credit Card Number: </b></label>
    <input type='text' name='creditCard' required  minlength="16" maxlength="16" placeholder="(16-digit number)" [(ngModel)]="creditCard" class="box">
    <p>We will never share your payment details with anyone else.</p>
    <input [disabled]="form.invalid" type='submit' value="Submit" class="btn btn-primary" />
</form>
